<h2>Edytuj Profil <% resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, class: "form-control", placeholder:"Email", autofocus: true, autocomplete: "email"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <% f.label :password %><br />
    <%= f.password_field :password,class: "form-control", placeholder:"Password", autofocus: true, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
      <br/>
    <% end %>
  </div>
  <div class="field form-group">
    <% f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,class: "form-control", placeholder:"password confirmation", autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <% f.label :current_password %><br />
    <%= f.password_field :current_password,class: "form-control", placeholder:"Current Password", autofocus: true, autocomplete: "current-password" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Aktualizuj", class: 'btn btn-success' %>
  </div>
<% end %>
<br/>
<div class="card">
  <div class="card-header">
    <h3>Usuwanie konta</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Pls don't do it :c</h5>
    <p class="card-text"><%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete,class: "btn btn-danger" %></p>
    <%= link_to "Powrót", :back %>
  </div>
</div>
