<%= form_with(model: koszyk) do |form| %>
  <% if koszyk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(koszyk.errors.count, "error") %> prohibited this koszyk from being saved:</h2>

      <ul>
        <% koszyk.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nazwa_Produktu %>
    <%= form.text_field :Nazwa_Produktu %>
  </div>

  <div class="field">
    <%= form.label :Producent %>
    <%= form.text_field :Producent %>
  </div>

  <div class="field">
    <%= form.label :Kod_Produktu %>
    <%= form.text_field :Kod_Produktu %>
  </div>

  <div class="field">
    <%= form.label :Cena %>
    <%= form.text_field :Cena %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
