<p id="notice"><%= notice %></p>

<h1>Lista Produktów w koszyku</h1>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nazwa Produktu</th>
      <th>Producent</th>
      <th>Kod Produktu</th>
      <th>Cena</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @koszyks.each do |koszyk| %>
      <tr>
        <td><%= koszyk.Nazwa_Produktu %></td>
        <td><%= koszyk.Producent %></td>
        <td><%= koszyk.Kod_Produktu %></td>
        <td><%= koszyk.Cena %></td>
        <td><%= link_to 'Show', koszyk, class:"btn btn-seccondary" %></td>
        <td><%= link_to 'Destroy', koszyk, class:"btn btn-seccondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Koszyk', new_koszyk_path %>
