<head>

  <h1>Listing Products</h1>
</head>
<body>
<% name= current_user.present? ? current_user.login : "(Nie zalogowany)" %>
<div> Uzytkownik: <%= name %></div>




</thead>
</table>
</br>

<%= sortable "name", "Sortuj po nazwie" %>
<%= form_tag("/search_by_category", method: 'get') do%>
  <%=label_tag(:category_id, "Select a Category") %>
  <%= select_tag("category_id", options_from_collection_for_select(Category.all, "id", "name")) %>
  <%= submit_tag("Filtr by category") %><br>
<%end %>

<%= render 'layouts/grid' %>


</body>
<br>