<strong class="card-text"><%= @products.name %></strong>
<p class="card-text"><%= @products.category %></p>
<p class="card-text"><%= @products.brand %></p>
<img style="width: 250px; height: auto" src='<%=@products.image%>'/>


<%= line_chart ProductShop.group(:product_id).group_by(:created_at).count %>
