<strong class="card-text"><%= @products.name %></strong>
<p class="card-text"><%= @products.category %></p>
<p class="card-text"><%= @products.brand %></p>
<img style="width: 250px; height: auto" src='<%=@products.image%>'/>

<% @products.product_shop.each do |product| %>
  <strong class="card-text"><%= product.id %></strong>
  <p class="card-text"><%= product.shop.name %></p>
  <p class="card-text"><%= product.price %></p>
  <br/>
<% end %>



<%= line_chart ProductShop.where(product_id: @products.id).group(:shop_id).group_by_minute(:created_at).count %>