<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="path/to/chartkick.js"></script>
</head>
<strong class="card-text"><%= @products.name %></strong>

<%if !@products.category.nil? %>
  <p class="card-text"><%= @products.category.name %></p>
<%end %>
<p class="card-text"><%= @products.brand %></p>
<img style="width: 250px; height: auto" src='<%=@products.image%>'/>
<br/>
<br/>
<br/>
<br/>
<h3> Najlepsza oferta w tej chwili</h3>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <th scope="col">Nazwa Sklepu</th>
    <th scope="col">Cena</th>
    <th scope="col">Data</th>
  </thead>
  <tbody>
      <tr>
          <td><p class="card-text"><%= @product_shops.shop.name %></p></td>
          <td><p class="card-text"><%= @product_shops.price %></p></td>
          <td><p class="card-text"><%= @product_shops.date %></p></td>
      </tr>
  </tbody>
</table>

<%#= line_chart(@data) %>
<%= line_chart ProductShop.where(product_id: @products.id).group(:shop_id, :date).sort.maximum(:price),
   title:"Zmiany w cenach", xtitle: "Data", ytitle: "Cena",suffix: "zł",download:true, discrete: false%>
<%#= line_chart ProductShop.group(:price).group_by_day(:created_at).count %>

<% @products.shops.group(:id).sort().each do |shop| %>
  <p>ID: <%=shop.id %> odpowiada sklepowi: <%=shop.name %></p>
<% end %>